[Unit]
Description=Wake on LAN service.
After=network.target

[Service]
WorkingDirectory=/usr/bin/wol

Type=idle
ExecStart=/usr/bin/wol/virtual/bin/python /usr/bin/wol/wol.py

User=root
Group=root

[Install]
WantedBy=multi-user.target
