[Unit]
Description=Wake on LAN service.
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/wol/virtual/bin/python /bin/wol/wol.py

[Install]
WantedBy=multi-user.target
